@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy:<br />
    <br />
    <p>Thank you for visiting our website dedicated to watches. At [Watches],we understand the importance of privacy and are committed to safeguarding
    the personal information of our visitors and customers. This Privacy Policy outlines how we collect, use, and protect your data when you interact 
    with our website.
    <p/>
    <br />
    <p>
    When you browse our website, we may collect certain non-personal information such as your IP address, browser type, and device information
    to improve the functionality and performance of our site. Additionally, if you choose to make a purchase or sign up for our newsletter,
    we may collect personal information such as your name, email address, shipping address, and payment details to fulfill your orders 
    and provide you with relevant updates. Rest assured, we do not sell, trade, or disclose your personal information to third parties
    unless required by law or with your explicit consent.
    <p/>
    <br />
    <p>
    We take the security of your information seriously and employ industry-standard measures to protect it from unauthorized access, alteration, or disclosure. 
    However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security. 
    By using our website, you consent to the terms outlined in this Privacy Policy. If you have any questions or concerns regarding our privacy practices, 
    please contact us. Thank you for trusting [Watches] with your personal information.
    <p/>
</p>
